* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #24272E;
  font-family: Asap, sans-serif;
}
header {
  background: white;
  padding: 15px;
  border-bottom-style: inset;
}

header > h1 {
  color: #24272E;
  text-align: center;
  font-size: 30px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;

}
section {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

#intro {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  background-color: black;
  opacity: 0.9;
  height: 100vh;
  z-index: 500;
  width: 100%;
}

#intro h2 {
  color: pink;
  font-family: 'Cormorant Garamond', serif;
  padding: 20px;
  margin: 40% 20%;
  font-size: 30px;
  line-height: 1.8;
  font-weight: 200;
}

#close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  cursor: pointer;
}

#advice-slip {
  width: 200px;
  border: solid;
  border-color: pink;
  padding: 10px;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 28px;
  margin: 20% auto 10%;
  box-shadow: 0 10px 10px -10px pink;
  border-radius: 5px;
}
#advice-slip:hover {
  border-color: cyan;
  box-shadow: 0 10px 10px -10px cyan;
}

#advice {
  width: auto;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 38px;
  line-height: normal;
  margin: 10% 20%;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;

}

@media screen and (max-width: 400px) {
  #advice-slip {
    margin: 40% auto 10%;
  }
  #advice {
    font-size: 28px;
    margin: 15% 20%;
  }

  #intro h2 {
    font-size: 20px;
  }
}
